.carCards{
    /* border-right: 1px solid rgb(237, 172, 172); */
    border-bottom: 1px solid rgb(237, 172, 172);
    margin-left:10px;
    padding:5px;
    width:300px;
    color:rgb(154, 55, 55);
   
}
.allTotal{
    border-right: 1px solid rgb(237, 172, 172);
    padding:5px;
    margin-left:10px;
    text-align: left;
    line-height:1px;
    font-size:20px;
    color:rgb(154, 55, 55);
   
}