.carDetails{
    border: 1px solid rgb(235, 231, 231);
    padding:5px;
    border-radius:20px;
    height:400px;
    text-align:start;
    margin:20px;
    line-height: 1px;
    font-size:18px;
    box-shadow: 12px 12px 2px 1px rgba(187, 97, 97, 0.2);
    
}
.carDetails img{
    width:250px;
    height:200px;
    background-color: rgb(243, 235, 235);
    border-radius: 50%;
    margin:30px;
}
.details{
    margin-left:20px;
    color:rgb(72, 135, 116);
}
.details button{
    border-color: rgb(168, 173, 178);
    border-radius: 20%;
    width:100px;
    background-color:rgb(243, 235, 235);
    margin-left:35%;
    color:rgb(33, 77, 62);
    font-size: large;
    height:40px;
    cursor:pointer;
    
}
.details button:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }