.showroom{
    display:grid;
    grid-template-columns:1fr 3fr;
        @media (max-width: 767px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top:160px;
        border-top: 1px solid black;
        padding:3px;
    }
}
.showroom h5{
    color:rgb(116, 64, 52)
}
.cars-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px ;
    margin:5px;
 @media (max-width: 767px){
    display:block;
    width:400px;
    margin:auto;
 }
}